@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.eachButton {
    &__wrapper {
        margin: 4px;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 3 1;
        border-radius: 10px;
        background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
        color: $white;
        font-family: 'Lato Black';
        font-size: $h4_text_size_m;
    }
}