@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.screen {
    &__wrapper {
        background-color: $charcoal;
        color: $white;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    &__outputText,
    &__inputText {
        font-family: 'Lato Regular';
        padding: 15px;
        @include tablet {
            padding: 25px;
        }
    }
    &__inputText {
        text-align: end;
    }
}