@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.clearButtons {
    &__wrapper {
        display: flex;
        flex-direction: row;
        background-color: $charcoal;
    }
    &__ac,
    &__clear {
        width: 50%;
        height: 4em;
        margin: 5px;
        background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
        border-radius: 10px;
        color: $white;
    }
}