// Straight
@font-face {
    font-family: 'Lato Light';
    src: url('../assets/fonts/lato/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../assets/fonts/lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Black';
    src: url('../assets/fonts/lato/Lato-Black.ttf') format('truetype');
}

// Italic
@font-face {
    font-family: 'Lato Light Italic';
    src: url('../assets/fonts/lato/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Regular Italic';
    src: url('../assets/fonts/lato/Lato-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Bold Italic';
    src: url('../assets/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Black Italic';
    src: url('../assets/fonts/lato/Lato-BlackItalic.ttf') format('truetype');
}