@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.calc {
    &__wrapper {
        margin-top: 8rem;
        width: 200px;
        @include tablet {
            width: 300px;
        }
    }
    &__row {
        display: flex;
        flex-direction: row;
    }
}